html{
  height: 100%;
  padding: 0%;
}
body{
  height: 100%;
}
section {
  padding: 150px 0;
}
.heading {
  margin-bottom: 40px;
}

.heading:after {
  content: " ";
  display: block;
  width: 200px;
  height: 1px;
  margin: 20px 0 20px;
  background: #555;
}
.italic{
  font-family: italic;
}
.intro {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #111;
  min-height: 100vh;
  padding: 0;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  background-attachment: fixed;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  z-index: 5;
  opacity: 0.5;
}
.content {
  position: relative;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(-8%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 5;
}
@media (max-width: 767.98px) {
  .content {
    position: relative;
    padding: 80px 0;
    top: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.intro h1,,
.intro p {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.intro p {
  font-size:30px;
}
.intro h1{
  font-size: 50px;
}
.intro marquee{
  color: orange;
  -webkit-transform: translate(0, 3cm);
    transform: translate(0, 3cm);
}
nav.navbar {
  background: #fff;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: 0 1px 0 #ddd;
  box-shadow: 0 1px 0 #ddd;
}

nav.navbar a.nav-link {
  position: relative;
  top: 1px;
  color: #333;
  border-bottom: 1px solid transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.nav-item:hover{
  background-color: orange;
}

nav.navbar a.nav-link.active, nav.navbar a.nav-link:hover, nav.navbar a.nav-link:focus {
  color: #333;
}

nav.navbar a.nav-link.active {
  border-bottom: 1px solid #333;
}

nav.navbar .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

nav.navbar.sticky {
  width: 100%;
  position: fixed ;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
}
.lead {
  font-size: 1.4375rem;
  font-weight: 700;
  font-family: italic;

}
.text{
  padding: 0%;
}
.img-fluids,.flu{
  position: relative;
  height: 15cm;
  width: 15cm;
  padding: 5px 5px;
  border: 3px dashed orange;
}
@media only screen and (max-width: 600px)
{
  .flu{
    height: 15cm;
    width: 12cm;
  }
}
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.contact-form {
  margin-bottom: 40px;
}

p.social {
  text-align: center;
  margin-top: 20px;
  margin-left: 
}

p.social a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 19px;
  line-height: 38px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: bottom;
}

p.social a i {
  vertical-align: bottom;
  line-height: 38px;
}

p.social a.facebook {
  background-color: rgb(30, 114, 223);
}

p.social a.twitter {
  background-color: rgb(41, 157, 224);
}

p.social a.instagram {
  background-color: rgb(192, 0, 250);
}

p.social a.email {
  background-color: rgb(172, 0, 0);
}
.text-page{
  padding: 0%;
}
.btn-outline-primary {
  color: orange;
  border-color: orange;
}
.btn-outline-primary:hover{
  background-color: orange;
  color: whitesmoke;
  border: transparent;
}
.img-logo{
  padding: 0%;
  position: relative;
  left: 5cm;
  height: 10cm;
}
@media only screen and (max-width: 600px){
.img-logo{
  left:2.5cm;
}
}
.my-5{
  padding: 0%;
  padding-right: 2.5cm;
  padding-left: 2.5cm;
}
.product img{
  height: 2cm;
  width: 2cm;
  position: relative;
  left: 2cm;
}
                        
#services {
  padding-top: 0%;
  padding-bottom: 0%;
}
#services .services-top {
    padding: 70px 0 50px;
}
#services .services-list {
    padding-top: 50px;
}
.services-list .service-block {
    margin-bottom: 25px;
}
.services-list .service-block .ico {
    font-size: 38px;
    float: left;
}
.services-list .service-block .text-block {
    margin-left: 58px;
}
.services-list .service-block .text-block .name {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}
.services-list .service-block .text-block .info {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}
.services-list .service-block .text-block .text {
    font-size: 20px;
    line-height: normal;
    font-weight: 300;
}
.highlight {
    color: orange;
    font-weight:bold;
}                    